/*
 *! Подключение Ресетера для оптимизации для всех браузеров
*/
@import url('./reseter.min.css');
/* 
 *! Подключение шрифтов
*/
@import url('./cms.fonts.css');

/*#region Global Styles*/
*, *::after, *::before{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
html{
    min-width: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
}
body{
    overflow: hidden;
    min-height: 100vh;
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #29293a;
    background-color: #f2f3f9;
}
body.in_bdy{
    display: flex;
}
button, input, select, textarea{
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
    font-family: 'Exo2', 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 400;
}
.main{
    padding: 15px 0;
    max-height: 100vh;
    width: 100%;
    overflow-y: auto;
    z-index: 1;
}
.container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.container-fw{
    max-width: 100%!important;
}
.hr_line {
    background: linear-gradient(to right,#ed1c94 50%,#981df0 120%);
    width: 100%;
    flex-shrink: 0;
}
.frm_gr{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.frm_gr:not(:last-child){
    margin-bottom: 15px;
}
.frm_gr_tl{
    margin-left: 15px;
    font-size: 14px;
    color: #FFFFFF;
}
.frm_gr_inp{
    border-radius: 25px;
    font-size: 15px;
    line-height: 1.4;
    color: #29293a;
    padding: 13px 17px;
    background-color: #FFFFFF;
    border: 0;
    outline: none;
    transition: box-shadow .3s ease, transform .3s ease;
}
.frm_gr_inp:focus{
    box-shadow: 1px 6px 0 0 #981df0;
    transform: translateY(-2px);
}
textarea.frm_gr_inp{
    resize: vertical;
    min-height: 140px;
}
.frm_gr_err{
    padding: 0 15px;
    font-size: 13px;
    line-height: 1.2;
    color: #db4444;
}
.frm_gr_ht{
    top: 0;
    margin-left: 5px;
    border-left: 1px solid #981df0;
    padding-left: 5px;
    color: #981df0;
}
.frm_gr_ht > a{
    font-size: inherit;
    color: inherit;
    line-height: inherit;
}
.btn{
    max-width: 180px;
    width: 100%;
    display: inline-flex;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 14px 15px;
    border-radius: 5px;
    background-color: #ed1c94;
    border: 0;
    transition: background-color .3s ease, box-shadow .3s ease, transform .3s ease-in-out;
}
.btn > i {
    margin-right: 5px;
    font-size: 18px;
}
.btn:hover{
    background-color: #981df0;
    color: #FFFFFF;
    text-decoration: none;
}
.btn:focus{
    background-color: #981df0;
    text-decoration: none;
    color: #FFFFFF;
    box-shadow: 2px 3px 0 0 #ed1c94;
    outline: none;
    transform: translateY(-3px);
}
.drpn{
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% + 5px);
    min-width: 250px;
    background-color: #29293a;
    border-radius: 5px;
    box-shadow: 0 0px 3px 0 #29293a;
    z-index: 10;
}
.actv_drpn .drpn{
    display: block;
    animation: drp_down .2s ease-in-out both;
}
@keyframes drp_down {
    from{
        opacity: 0;
        transform: translateX(-10px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.drpn_lst{
    padding: 10px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.drpn_lst > li{
    width: 100px;
    display: flex;
}
.drpn_lst a {
    display: inline-flex;
    width: 100%;
    color: #ececec;
    padding: 10px 15px;
    line-height: 1;
    font-size: 14px;
    transition: color .2s ease;
}
.drpn_lst a:hover, .drpn_lst a:focus{
    text-decoration: none;
    color: #ed1c94;
}
.dwn_arw{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    font-style: normal;
    transition: color .2s ease, transform .2s ease-in;
}
.dwn_arw::before{
    content: '\f078';
}
.actv_drpn .dwn_arw{
    transform: rotate(-90deg)translateX(6px);
}
.content_panel{
    border-radius: 15px;
    background-color: #FFFFFF;
    border: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column;
}
.ct_pl--black{
    background-color: #242433;
    color: #ECECEC;
}
.ct_pl_hr{
    position: relative;
    padding: 14px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.ct_pl_hr::after{
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(to right,#ed1c94 50%,#981df0 120%);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .2;
}
.ct_hr_tl{
    font-size: 22px;
    line-height: 1.2;
    margin: 0;
    font-weight: 300;
}
.ct_hr_tl.ct-hr_tl--bold{
    font-weight: 700;
}
.ct_pl_ctn{
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.ct_pl_fr{
    padding: 15px;
}
.ct_hr_bdcs{
    padding: 2px 0 0px 8px;
    margin: auto 0 auto 8px;
    font-size: 13px;
    border-left: 1px solid;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.ct_hr_bdcs > li:not(:last-child)::after{
    content: '/';
    font-size: inherit;
    margin: 0 5px;
}
.cl-hr-btns{
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 5px;
}
.grid_table{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    align-items: flex-start;
    column-gap: 15px;
    row-gap: 15px;
}
.grid_table > .content_panel{
    grid-row: auto;
}
code{
    background-color: #981df0;
    padding: 2px 4px;
    color: #ffec17;
    border-radius: 3px;  
}
.no_photo{
    position: relative;
    color: #242433;
}
.no_photo::before{ 
    content: '\f1c5';
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    font-size: 45px;
    opacity: .8;
}
.cms_main_menu{
    grid-column-start: 1;
    grid-column-end: 1;
    height: 100%;
    display: flex;
    align-items: center;
}
.cms_breadcrumbs{
    grid-column-start: 2;
    grid-column-end: 13;
}
/* #endregion */

/* #region Old cal */
*[data-tooltip]{
    position: relative;
}
*[data-tooltip]:hover::before{
    display: block;
}
*[data-tooltip]::before{
    content: attr(data-tooltip);
    position: absolute;
    left: calc(100% - 22px);
    bottom: calc(100% + 5px);
    min-height: 20px;
    min-width: 200px;
    background-color: #242433;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 300;
    padding: 6px 8px;
    text-align: left;
    display: none;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.35);
    z-index: 3;
    text-transform: initial;
}

/*#endregion*/

/* #region Login Page (usable on VS Code) */
.login_page{
    background: linear-gradient(135deg, #6d0eb1 59%, #080ab4 100%);
    width: 100%;
    height: 100vh;
}
.ln_pe_lg{
    max-width: 253px;
    margin-bottom: 15px;
}
.ln_pe_in{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #29293a;
    box-shadow: 0 0px 15px 0 #29293a;
    max-width: 400px;
    transition: max-width .6s cubic-bezier(.86,0,.07,1);
}
.ln_pe_tl{
    color: #ECECEC;
    font-size: 34px;
    line-height: 1;
    margin: 0 0 15px;
}
.ln_in_cnt{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 400px;
}
.ln_in_frm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    color: #ECECEC;
    height: 100%;
    max-height: 320px;
}
.ln_in_btn{
    margin-top: auto;
}
/* #endregion */

/* #region Header (usable on VS Code) */
.header{
    background-color: #242433;
    box-shadow: 0 0px 15px 0 #29293a;
    max-width: 0;
    width: 100%;
    transition: max-width .6s ease-in-out, overflow 0s;
    transition-delay: 0ms, 1s;
    height: 100vh;
    z-index: 1000;
    overflow: hidden;
}
.header.hr_actv{
    overflow: visible;
    max-width: 280px;
}
.hr_in{
    min-width: 280px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}
.hr_in_lg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECECEC;
    font-weight: 300;
    font-size: 26px;
    transition: color .3s ease;
}
.hr_in_lg > span{
    margin-left: 5px;
    color: #981df0;
}
.hr_in_lg:hover, .hr_in_lg:focus{
    color: #ed1c94;
    text-decoration: none;
}
.hr_nv{
    width: 100%;
}
.hr_nv_lst {
    padding: 0;
    margin: 0 -15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.hr_nv_lst li {
    width: 100%;
    position: relative;
    display: flex;
}
.hr_nv_lnk{
    padding: 10px 25px 10px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;   
    color: #ECECEC;
    font-size: 14px;
    line-height: 1.2;
    transition: color .2s ease;
    position: relative;
}
.hr_nv_lnk::before, .hr_nv_lnk::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    display: block;
    left: 0;
    background: linear-gradient(to right, #242433 40%, #981df0 90%, #ed1c94 100%);
    transition: width .5s ease-in;
}
.hr_nv_lnk::before{
    top: 0;
}
.hr_nv_lnk::after{
    bottom: 0;
}
.hr_nv_lnk.actv_lnk{
    background: linear-gradient(to right,#242433 40%,#981df0 90%,#ed1c94 100%);
}
.hr_nv_lnk > i{
    margin-right: 8px;
}
.hr_nv_lnk:hover, .hr_nv_lnk:focus{
    color: #981df0;
    text-decoration: none;
}
.hr_nv_lnk:hover::before, .hr_nv_lnk:hover::after, .hr_nv_lnk:focus::before, .hr_nv_lnk:focus::after{
    width: 100%;
}
.hr_nv_lnk:hover .dwn_arw, .hr_nv_lnk:focus .dwn_arw{
    color: #ed1c94;
}
.hr_nv_lnk.actv_lnk:hover .dwn_arw, .hr_nv_lnk.actv_lnk:focus .dwn_arw{
    color: #242433;
}
.hr_usr_prf{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #981df0;
    padding: 10px 10px 15px;
    width: 100%;
    transition: box-shadow .2s ease, transform .2s ease;
}
.hr_usr_prf:hover, .hr_usr_prf:focus-within{
    box-shadow: 2px 2px 0px 0 #ed1c94;
    transform: translateY(-2px);
}
.hr_usr_stgs{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.hr_usr_btns{
    justify-self: flex-end;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    padding-left: 15px;
}
.hr_usr_btn{
    border: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ECECEC;
    border-radius: 15px;
    background-color: #1d1d28;
    padding: 5px;
    font-size: 18px;
    min-height: 40px;
    min-width: 40px;
    transition: color .2s ease, background-color .2s ease;
}
.hr_usr_btn:not(:last-child) {
    margin-right: 10px;
}
.hr_usr_btn:hover, .hr_usr_btn:focus{
    text-decoration: none;
    color: #242433;
    background-color: #981df0;
    outline: none;
}
.hr_usr_img{
    min-height: 100px;
    max-height: 100px;
    max-width: 100px;
    min-width: 100px;
    display: flex;
    max-height: 250px;
    background: linear-gradient(to right,#ed1c94 10%,#981df0 140%);
    padding: 4px;
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.hr_usr_img > img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    max-height: 100px;
    max-width: 100px;
}
.hr_usr_nme{
    color: #ECECEC;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    line-height: 1.2;
}
/* #endregion */

/*#region Main page (usable on VS Code)*/

.cms_update_info{
    grid-column-start: 1;
    grid-column-end: 10;
}
.cms_visites_today{
    grid-column-start: 10;
    grid-column-end: 13;
    text-align: center;
}
.cms_update_info > .ct_pl_ctn{
    max-height: 230px;
    overflow: hidden;
    transition: max-height .4s ease-in-out;
}
.cms_update_info > .ct_pl_ctn ul{
    list-style: none;
    padding: 0;
}
.cms_update_info > .ct_pl_ctn *:last-child{
    margin-bottom: 0;
}
.cms_update_info > .ct_pl_ctn li{
    display: flex;
    align-items: flex-start;
}
.cms_update_info > .ct_pl_ctn li:not(:last-child){
    margin-bottom: 15px;
}
.cms_update_info > .ct_pl_ctn li::before{
    content: '\f561';
    font-family: 'Font Awesome 5 Pro';
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
    color: #981df0;
}
.cms_update_info > .ct_pl_ctn strong{
    font-size: 18px;
    margin-bottom: 15px;
}
.cms_update_info > .ct_pl_ctn p {
    margin-bottom: 10px;
}
.cms_visites_count{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,#ed1c94 50%,#981df0 120%);
    border-radius: 15px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
}

/* #endregion */

/* #region Categories, Subcategories and pages */

.cms-categories{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: 1;
}
.cms-categories .cl-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cms-categories-list{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 25px;
}
.cms-cat-item{
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    column-gap: 15px;
    padding: 10px;
    transition: background-color .2s ease, border-radius .2s ease, border-bottom-color .2s ease;
}
.cms-cat-item:not(:last-child){
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 5px;
}
.cms-cat-item:hover, .cms-cat-item:focus-within{
    background-color: #242433;
    border-radius: 10px;
    border-bottom-color: transparent
}
.cms-cat-item > a{
    line-height: 1;
    color: #29293a;
    padding: 6px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cms-cat-item:hover > a, .cms-cat-item:focus-within > a{
    color: #FFFFFF;
    text-decoration: none;
}
.cms-cat-item-stgs{
    display: flex;
    align-items: flex-start;
    column-gap: 5px;
    justify-content: flex-end;
}
.cms-cat-btn{
    min-width: 30px;
    max-width: 30px;
    padding: 8px;
    height: 30px;
    border-radius: 10px;
}
.cms-subpages{
    grid-column-start: 1;
    grid-column-end: 13;
}
.cms-pages-list{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 25px;
}
.cms-pgs-item{
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    column-gap: 15px;
    padding: 10px;
    transition: background-color .2s ease, border-radius .2s ease, border-bottom-color .2s ease;
}
.cms-pgs-item:not(:last-child){
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 5px;
}
.cms-pgs-item:hover, .cms-pgs-item:focus-within{
    background-color: #242433;
    border-radius: 10px;
    border-bottom-color: transparent
}
.cms-pgs-item > a{
    line-height: 1;
    padding: 6px 0;
    color: #29293a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cms-pgs-item:hover > a, .cms-pgs-item:focus-within > a{
    color: #FFFFFF;
    text-decoration: none;
}
.cms-pgs-item-stgs{
    display: flex;
    align-items: flex-start;
    column-gap: 5px;
    justify-content: flex-end;
}
.cms-pgs-btn{
    min-width: 30px;
    max-width: 30px;
    padding: 8px;
    height: 30px;
    border-radius: 10px;
}
/* #endregion */